
.wrapper {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    height:100vh;
  }
  
  .wrapper > * {
    border-radius: 5px;
    font-size: 150%;
    /* needed for the floated layout*/
   
  }
  .heading{
    display: flex;
    justify-content: center;
  }
.weather{
    float: left;
    
}
.specs{
    float: right;    
}
